{% extends 'chat/base.html' %}
{% block content %}
{% load static %}
<h2>Admin Badge Panel</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Profile</th>
            <th>Username</th>
            <th>Current Badge</th>
            <th>Assign New Badge</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}"  alt="Profile Picture" style="width: 20%;">
                {% else %}
                    <img src="{% static 'chat/default_profile.png' %}" alt="Default Profile Picture" style="width: 20%;">
                {% endif %}
            </td>
            <td>{{ user.username }}</td>
            <td>
                {% if user.badge %}
                    <img src="{{ user.badge.url }}" alt="Badge" style="width: 40px; height: 40px;">
                {% else %}
                    No Badge
                {% endif %}
            </td>

            <td>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}"> 
                    <input type="file" name="badge" />
                    <input type="submit" value="Upload Badge" />
                </form>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
